.purchase{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 20px 100px;
}
.details{
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 0 5px 2px rgb(129, 122, 122);
}
.img{
    
    margin: 0 auto;

}
.order{
    margin-top: 50px;
}
 
@media only screen and (max-width:668px) {
    .purchase{
        grid-template-columns: repeat(1, 1fr);
        margin: 20px;
    }
    .details{
        width: 100%;
        margin-bottom: 50px;
    }
    .order{
        margin-top: 10px;
    }
}